* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;

}
/* Utility */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.current {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
h1 h2 h3 {
  padding: 30px;
}
p {
  padding: 15px;
}
/*.primary-text {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1.2rem;

}
.primary-p {
  padding: 5% 20%;
  text-align: center;
  padding-top: 1.2rem;
}*/
.clr {
  clear: both;
}
.secundary-p {
  font-size: 20px;
  text-transform: uppercase;
}
.pic {
  display: flex;
  width: 50%;
  margin: 5px;
  border-radius: 10px;
}
/* HEADER */

#main-header {
  background: url('../img/andrej-lisakov-3A4XZUopCJA-unsplash.jpg') no-repeat center center/cover;
  color: #333;
  height: 100vh;
  padding-top: 1rem;
}

/* NAVBAR */ 
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
#navbar ul {
  display: flex;
  padding: 0 5px;
  align-items: center;
  justify-content: space-between;
}
#navbar li a:hover {
  background: #A6F41E;
  font-weight: 500;
}
/* About */ 
#about-info {
  display: flex;
  flex-direction: column;
  /* background: url('../img/leone-venter-VieM9BdZKFo-unsplash.jpg') no-repeat center center/cover; */
  /* border: 1px dotted #333; */
  
}
#about-info h2 {
  text-align: center;
}
#about-info p {
  text-align: justify;
}
.box {
  padding: 5px 20px;
  margin: 20px 180px;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  /*opacity: .6;*/
}

/* .box:first-child {
  <img class="pic" src="img/nordwood-themes-kRNZiGKtz48-unsplash.jpg" alt="Foto1">
  background: url('../img/nordwood-themes-kRNZiGKtz48-unsplash.jpg') no-repeat center right/cover;
} */

.box:-child {
  /* <img class="pic" src="img/nordwood-themes-kRNZiGKtz48-unsplash.jpg" alt="Foto1"> */
  background: url('../img/nordwood-themes-kRNZiGKtz48-unsplash.jpg') no-repeat center right/cover;
}

.box:-child {
  /* <img class="pic" src="img/nordwood-themes-kRNZiGKtz48-unsplash.jpg" alt="Foto1"> */
  background: url('../img/nordwood-themes-kRNZiGKtz48-unsplash.jpg') no-repeat center right/cover;
}

/* PHOTOS */ 
.pic-container {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  flex-basis: auto;
}

.flex-pic {
  
}

/* Footer*/
#main-footer {
  text-align: center;
  background: #f4f4f4;
  color: #333;
  padding: 20px;
}