* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.3;
  

}
/* HEADER */
#main-header {
  background: url('../img/andrej-lisakov-3A4XZUopCJA-unsplash.jpg') no-repeat center center/cover;
  color: #333;
  height: 100vh;
  padding-top: 1rem;
}
#sm-header {
  background: #fff;
  background: url('../img/yucar-fotografik-cfR-V1QuEKw-unsplash.jpg') no-repeat center center/cover;
  color: #333;
  height: 40vh;
  padding-top: 1rem;
}


/* NAVBAR */ 

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  /* ---------------- */
  background: #333;
  color: #fff;
  opacity: 0.7;
  transition: 0.5s;
}

.navbar ul {
  display: flex;
  
}
 
.navbar li a {
  padding: 5px 10px;
  margin: 0 5px;
  text-decoration: none;
  color:  #fff;
  font-size:  1.2rem;
  font-size: 22px;
}
.navbar li a:hover {
  border-bottom: 2px solid #28a745;
  font-weight: 700;
  
}
.navbar .logo a{
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 0px 10px;
  font-size: 26px;
  font-family: 'Great Vibes', cursive;
}
.navbar .logo a:hover {
  color: #28a745;
}

.nav-social i:hover {
  color: #28a745;
}

.navbar.top, .navbar.top a,
.navbar.top .logo.a, .navbar.top .nav-social a {
  background: transparent;
  color: #000;
}
/* About */ 

.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.comments h2 {
  text-align: center;
}
.comments p {
  text-align: justify;
}
.comments .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 600px;
    padding-top: 20px 0;
  }
/* PHOTOS */ 
.flex-cnt {
  margin: 100px;
  display: flex;
  justify-content: center;
}
 .row {
    display: flex;
    flex-wrap: wrap; 
  }
.columns {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 25%; 
 }
 .columns img {
   border-radius: 50%;
   width: 100%;
 }
  
 
  /* Videos*/
  .flex-text {
    margin-top: 100px;
    display: flex;
    
  }

/* .row1 {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    
}
.columns1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px 100px;
  border: 1px solid #333;
} */

/* 
.columns1:nth-child(1), .columns1:nth-child(5) {
  background: #fff;
  flex: 2;
}
.columns1:nth-child(2), .columns1:nth-child(6) {
  background: red;
} 
.columns1:nth-child(3), .columns1:nth-child(7) {
  background: blue;
  flex: 2;
} 
.columns1:nth-child(4), .columns1:nth-child(8) {
  background: green;
}  */



/* Footer*/ 
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 200px;
}
.footer a, .nav-social a {
  color: #fff;
}
.footer a:hover, .nav-social a:hover {
  color: #28a745;
}
.footer .social > *{
  margin-right: 30px;
}